.navbar {
	background-color: rgba(204,232,255,0.90);
}

.form-inline{
	margin-right: 40px;
}

body{
	background-image: url(img/9657_s.jpg);
}

a{
	color: black;
}

.container{
	margin-top: 200px;
}

.jumbotron {
    background-color: rgba(204,232,255,0.85);
}

.bookContent{
	padding: 0;
	width: 355px;
    margin-right: 15px;
}