.navbar {
	background-color: rgba(204,232,255,0.90);
}

.form-inline{
	margin-right: 40px;
}

body{
	background-image: url(https://d1f5hsy4d47upe.cloudfront.net/d7/d7f4f963dfefe2af333f45938c74589b_w.jpg);
}

a{
	color: black;
}

.container{
	margin-top: 200px;
}

.jumbotron {
    background-color: rgba(204,232,255,0.85);
}

.bookContent{
	padding: 0;
	width: 355px;
    margin-right: 15px;
}