.navbar {
	background-color: rgba(204,232,255,0.90);
}

.form-inline{
	margin-right: 40px;
}

body{
	background-image: url(img/woodmin.jpg);
}

a{
	color: black;
}

.search_box{
	margin: auto;
    width: 280px;
    padding-top: 60px;
}

.form-group{
	display: flex;
}
.form-control{
	width: 200px;
    height: 50px;
    margin-right: 20px;
}

.container{
	margin-top: 50px;
}

.jumbotron {
    background-color: rgba(204,232,255,0.85);
}

.bookContent{
	padding: 0;
	width: 257px;
    margin-right: 14px;
}

.bookTitle{
	background-color: rgba(204,232,255,0.85);
}

img{
	width: 257px;
	height: 300px;
}